<div class="sport-detail-page container">
  <header>
    {{ title }} League
  </header>
  <mat-accordion multi>
    <ng-container *ngFor="let country of countrys$ | async">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ country.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-container *ngFor="let league of country.leagues">
          <a [routerLink]="['/league']" [queryParams]="{ leagueId: league.idLeague }">
            {{ league.strLeague }}
          </a>
        </ng-container>
      </mat-expansion-panel>

    </ng-container>
  </mat-accordion>

</div>
