<div class="home-page container">
  <ng-container *ngFor="let sport of sports$ | async">
    <mat-card class="home-page__card" [routerLink]="['../sport']" [queryParams]="{ sport: sport.strSport }">
      <div class="home-page__card-thumb">
        <img mat-card-image
             [src]="sport.strSportThumb"
             [attr.alt]="sport.strSport">
      </div>
      <mat-card-header>
        <mat-card-title>{{ sport.strSport }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  </ng-container>
</div>
